*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  image-rendering:pixelated;
  -webkit-font-smoothing: antialiased;
}

body{
  background-color:rgb(3, 7, 26);
  
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track{
  background:rgb(3, 7, 26) ;

}

::-webkit-scrollbar-thumb{
  background:linear-gradient(0deg, rgba(47,205,226,1) 6%, rgba(39,125,175,1) 52%, rgba(84,0,255,1) 100%) ;
  border-radius: 6px;
}



